/*
   VyattaLookingGlass - Looking glass for the vyatta routing suite

    Copyright 2012 Merijntje Tak

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, version 3 of the License.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


body {
  background-color: #888888;
}

h1 {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#mainBox {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

#argBox {
  border: 1px solid #AAAAAA;
  border-radius: 8px 8px 8px 8px;
  padding: 2px 5px;
  font-size: 14px;
  height: 17px;
  line-height: 1;
  width: 286px;
}
  
#output {
  display: none;
  font-family: monospace;
  font-size: 10px;
  padding-left: 10px;
  border: 2px solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  white-space: pre-wrap;
  background-color: #b0bfbe;
}

#loadBox {
  display: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #b0bfbe;
}

#queryBox {
  padding: 20px;
  border: 2px solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #b0bfbe;
}

#titleBox {
  padding: 20px;
  border: 2px solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #b0bfbe;
}

